.tweets-list-item {
    display: flex;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    color: #000;
}

.tweets-list-item__author {
    color: rgb(33, 37, 41);
}

.tweets-list-item__logo {
    margin-right: 20px;
    width: 70px;
    height: 70px;
    align-self: center;
}

.tweets-list-item__text {
    display: flex;
    flex-direction: column;
}

.tweets-list-item__date {
    display: flex;
    flex-direction: column;
    color: #e83e8c;
    font-weight: 300;
}

.tweets-list-item__author {
    display: inline;
}